/* TODO @Nome: DA avec couleurs (#FF6B35, #FFD23F) à faire plus tard */

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&family=Host+Grotesk:wght@300;400;600&family=JetBrains+Mono&display=swap');

@font-face {
  font-family: 'Kindred Youth';
  src: url('/fonts/KindredYouth.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--text);
  font-family: var(--font-body);
}

:root {
    --text: #eeecf4;
    --background: #0a0711;
    --primary: #a68ee0;
    --secondary: #3c1891;
    --accent: #652cef;
    --light-bg: #f5f5f5;
    --border-color: #000000;
    --border-light: #cccccc;

    --font-display: 'Kindred Youth', serif; /* Pour les TITRES H1 */
    --font-tech: 'Space Grotesk', sans-serif; /* Pour les sous-titres */
    --font-body: 'Host Grotesk', sans-serif; /* Pour le texte */
    --font-code: 'JetBrains Mono', monospace; /* Pour les tags */
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-display);
}

/* Footer */
.site-footer {
    background-color: var(--border-color);
    color: var(--text);
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

.site-footer p {
    margin: 0;
}
